<form [formGroup]="form">
  <div class="todo-container">
    <color-control-dropdown-color-select class="color-control" *ngIf="form.valid"
                                    formControlName="colorControl"
                                    [colorsList]="colors"
                                    [colorFromRadioButton]="colorControlValue"
                                    (isSelected)="selectHandler($event)"
    ></color-control-dropdown-color-select>
    <mat-form-field appearance="fill">
      <mat-label>Some Task</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-radio-group class="radio-buttons-container" formControlName="radiobutton" (change)="onChangePriority()"
                     *ngIf="form.valid">
      <mat-radio-button class="radio-button-option" [value]="priorities.Urgent">Urgent</mat-radio-button>
      <mat-radio-button class="radio-button-option" [value]="priorities.Middle">Middle</mat-radio-button>
      <mat-radio-button class="radio-button-option" [value]="priorities.Low">Low</mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button type="submit" [disabled]="form.invalid || isSelectedDefaultColor" (click)="addItem()">
      Create new
      Task
    </button>
  </div>
</form>
<div class="todo-list">
  <ul>
    <li *ngFor="let item of todoStorage; let index = index">
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        {{iconName(item.priority)}}
      </mat-icon>
      <a [routerLink]="['task', item.id]" [ngStyle]="{color: item.color}">
        {{item.name}}
      </a>
      <button mat-mini-fab (click)="deleteTask(index)">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
  <p *ngIf="todoStorage.length">Todos Remaining : {{todoStorage.length}}</p>
</div>


